/* All styles for your header Components live here */

.header-container {
    display: flex;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title h1 {
    font-size: 1.2rem;
}

.header-title p {
    font-size: 1rem;
    color: gray;
    margin-left: 1em;
}

.header-container-info {
    margin-left: .75em;
}

.image-thumbnail {
    height: 65px;
    width: 65px;
    margin-top: .75em;
}

.header-content {
    margin-top: 0;
}